# .circleci/config.yml for CircleCI 2.0
version: 2

anchors:
  docker:
    node_docker: &node_docker
      docker:
        - image: node:8.14.0
  cache:
    - yarn_cache_key: &yarn_cache_key yarn-packages-{{ checksum "yarn.lock" }}
    - restore_yarn_cache: &restore_yarn_cache
        restore_cache:
          keys:
            - *yarn_cache_key
    - save_yarn_cache: &save_yarn_cache
        save_cache:
          key: *yarn_cache_key
          paths:
            - ~/.cache/yarn
            - ./node_modules
    - elm-cache_key: &elm_cache_key elm-stuff-{{ checksum "elm.json" }}
    - restore_elm_cache: &restore_elm_cache
        restore_cache:
          keys:
            - *elm_cache_key
    - save_elm_cache: &save_elm_cache
        save_cache:
          key: *elm_cache_key
          paths:
            - ./elm-stuff

jobs:
  install:
    <<: *node_docker
    steps:
      - checkout
      - *restore_yarn_cache
      - *restore_elm_cache
      - run: yarn install --frozen-lockfile
      - *save_yarn_cache
      - *save_elm_cache
  test:
    <<: *node_docker
    working_directory: ~/repo
    steps:
      - checkout
      - *restore_yarn_cache
      - *restore_elm_cache
      - run: yarn && yarn test
  build:
    <<: *node_docker
    working_directory: ~/repo
    steps:
      - checkout
      - *restore_yarn_cache
      - *restore_elm_cache
      - run: yarn && yarn build
      - persist_to_workspace:
          root: ./dist
          paths:
            - '*'
  deploy:
    <<: *node_docker
    working_directory: ~/repo
    steps:
      - checkout
      - run: |
          git config user.email $(git --no-pager show -s --format='%ae')
          git config user.name CircleCI
          git fetch
          git checkout -b gh-pages origin/gh-pages || git checkout --orphan gh-pages
          find . -maxdepth 1 -not -name '.git' | xargs rm -rf || true
      - attach_workspace:
          at: '/workspace'
      - run: |
          cp -r /workspace/* .
          git add .
          git diff --cached --exit-code --quiet || git commit -am "artifact from commit '$CIRCLE_SHA1' on '$CIRCLE_BRANCH'"
          git push https://${GITHUB_PERSONAL_TOKEN}@github.com/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}.git gh-pages

workflows:
  version: 2
  test_and_build:
    jobs:
      - install:
          filters:
            branches:
              only:
                - master
      - test:
          requires:
            - install
      - build:
          requires:
            - install
      - deploy:
          requires:
            - build
            - test
